h1 {
  color: #F2EFE9;
  font-family: Fraunces;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2 {
  flex: 1 0 0;

  color: #E1D8B0;
  font-family: Syne;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.heading {
  display: flex;
  padding: 0px 50px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.container {
  display: flex;
  padding: 0px 50px;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  align-self: stretch;
}

.question {
  display: flex;
  padding: 20px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  border-radius: 10px;
  border: 1px solid #E1D8B0;
}
