
<div class="content-block">
    <h1 class="headline-1">Our Voices</h1>
    <div class="desktop">
        <p class="body-text">
        Since our founding in 1996, our motto has been “to encourage participation in the<br> fine arts, to provide innovative entertainment, to support all musical endeavors, to<br>  expand the genre of a cappella in the San Diego region." As such, the Tritones <br> maintain an extensive schedule of concerts, gigs, and media appearances within<br>  and beyond UC San Diego.
        </p>
    
        <p class = "body-text">
        The Tritones represent a diverse microcosm of the UCSD student body: some <br> bringing years of vocal training to the group, others guided solely by raw talent.<br>  Meet them below.
        </p>
    </div>
    <div class = "tablet">
        <p class = "body-text">
            The Tritones represent a diverse microcosm of the UCSD<br> student body: some bringing years of vocal training to the<br> group, others guided solely by raw talent. Meet them below.
        </p>
    </div>
    <div class = "mobile">
        <p class = "body-text">
            The Tritones represent a diverse microcosm of the UCSD student<br> body: some bringing years of vocal<br> training to the group, others guided<br> solely by raw talent.<br> Meet them below.
        </p>
    </div>
</div>
  
<div class="navigation-section">
    <h2 class="headline-2">2023-2024 Tritones</h2>
    <div class="button-group">
        <button class="nav-button sopranos"><p class="body-text">Sopranos</p></button>
        <button class="nav-button mezzos"><p class="body-text">Mezzos</p></button>
        <button class="nav-button altos"><p class="body-text">Altos</p></button>
        <button class="nav-button tenors"><p class="body-text">Tenors</p></button>
        <button class="nav-button baritones-bass"><p class="body-text">Baritones & Bass</p></button>
    </div>
</div>

<div>
    <h2 class="headline-2">Members</h2>
    <ul>
        <li *ngFor="let member of members">
        <span class="member-name body-text">{{ member.name }}</span> - 
        <span class="member-role body-text">{{ member.role }}</span>
        </li>
    </ul>

    <h2 class="headline-2">Board Members</h2>
    <ul>
        <li *ngFor="let board of boards">
        <span class="board-name body-text">{{ board.name }}</span> - 
        <span class="board-position body-text">{{ board.position }}</span>
        </li>
    </ul>
</div>

  

  