<div class="form-container" [hidden]="!showForm">
  <h1 class="heading">Love what we do? Send us an inquiry</h1>
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm" novalidate class="booking-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" class="form-control" [(ngModel)]="formData.name" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="formData.email" required>
    </div>
    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" id="subject" name="subject" class="form-control" [(ngModel)]="formData.subject" required>
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea id="message" name="message" class="form-control" [(ngModel)]="formData.message" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>

<div id="space"></div>

<button class="btn-scroll" [class.btn-scroll-hidden]="!showScrollButton"><span class="scroll-txt" (click)="toggleFormVisibility()">Book Now</span></button>
