<div class="container">
  <header class="themetoggle-block">
    <a routerLink="/">
      <img [src]="logoSrc" alt="Tritone Logo" class="logo">
    </a>
    <div class="burger-menu material-symbols-outlined" (click)="toggleMobileNav()">☰</div>
    <div class="nav-container">
      <nav class="nav-desktop">

        <!-- <a routerLink="/" class="body-text">Home</a> -->
        <a routerLink="/members" class="body-text">Members</a>
        <a routerLink="/auditions" class="body-text">Auditions</a>
        <a routerLink="/photos" class="body-text">Photos</a>
        <a routerLink="/bookings" class="body-text">Bookings</a>
        <!-- <a routerLink="/contact-us" class="body-text">Contact Us</a> -->
      </nav>


      <nav class="nav-mobile" [class.open]="isMobileNavOpen">

        <!-- <a routerLink="/" class="body-text" (click)="closeMobileNav()">Home</a> -->
        <a routerLink="/members" class="body-text" (click)="closeMobileNav()">Members</a>
        <a routerLink="/auditions" class="body-text" (click)="closeMobileNav()">Auditions</a>
        <a routerLink="/photos" class="body-text" (click)="closeMobileNav()">Photos</a>
        <a routerLink="/bookings" class="body-text" (click)="closeMobileNav()">Bookings</a>
        <!-- <a routerLink="/contact-us" class="body-text" (click)="closeMobileNav()">Contact Us</a> -->

      </nav>
      <!-- <app-theme-toggle></app-theme-toggle> -->
    </div>
  </header>
  <router-outlet></router-outlet>
</div>



<footer class="footer">

    <div class="footer-column">
      <h1 class="headline-1">The Tritones</h1>
      <p class="subheadline-1">UC San Diego's premier co-ed<br>a capella group - est.1996.</p>

      <div class="footer-column flex-column tablet">
        <p class="body-text">tritones@ucsd.edu↗</p>
        <div class="social-icons">
          <a href="https://open.spotify.com/artist/1eohVzWa5vbk54pmWcFQar" target="_blank"><img src="assets/images/social logo/spotifylogo.svg" alt="spotifylogo" class="socialLogo"></a>
          <a href="https://www.facebook.com/UCSDTritones/" target="_blank"><img src="assets/images/social logo/facebooklogo.svg" alt="facebooklogo" class="socialLogo"></a>
          <a href="https://www.instagram.com/ucsd.tritones/" target="_blank"><img src="assets/images/social logo/instagram logo.svg" alt="instagramlogo" class="socialLogo"></a>
          <a href="https://www.youtube.com/@ucsdtritones" target="_blank"><img src="assets/images/social logo/youtubelogo.svg" alt="youtubelogo" class="socialLogo"></a>
        </div>
      </div>
    </div>

    <div class="footer-column flex-column desktop">
      <p class="subheadline-1" style="color:#E1D8B0;">Connect with Us</p>
      <p class="body-text">tritones@ucsd.edu↗</p>
      <div class="social-icons">
        <a href="https://open.spotify.com/artist/1eohVzWa5vbk54pmWcFQar" target="_blank"><img src="assets/images/social logo/spotifylogo.svg" alt="spotifylogo" class="socialLogo"></a>
        <a href="https://www.facebook.com/UCSDTritones/" target="_blank"><img src="assets/images/social logo/facebooklogo.svg" alt="facebooklogo" class="socialLogo"></a>
        <a href="https://www.instagram.com/ucsd.tritones/" target="_blank"><img src="assets/images/social logo/instagram logo.svg" alt="instagramlogo" class="socialLogo"></a>
        <a href="https://www.youtube.com/@ucsdtritones" target="_blank"><img src="assets/images/social logo/youtubelogo.svg" alt="youtubelogo" class="socialLogo"></a>
      </div>
    </div>

    <div class="footer-column">
      <p class="subheadline-1">Our Events</p>
      <p routerLink="/bookings" class="footer-nav body-text">Bookings</p>
      <p routerLink="/photos" class="footer-nav body-text">Photos</p>
    </div>
    <div class=" footer-column">
      <p class="subheadline-1">Get Involved</p>
      <p routerLink="/about-us" class="footer-nav body-text">About Us</p>
      <p routerLink="/auditions" class="footer-nav body-text">Auditions</p>
    </div>


  
  
</footer>
