<!-- The Journey Intro Section -->
<section class="journey-intro">
    <h2 class="headline-2">The Journey</h2>
    <p class="gold body-text">Look back on some of our favorite moments together.</p>
</section>

<div class="photo-section-container">
<!-- The Tritones Section -->
<section class="tritones-section">
    <p class="gold body-text">THE TRITONES</p>
    <p class="body-text">2022-2023</p>
    <div class="photos-container">
        <!-- 100% width photo -->
        <div class="photo introIMG" *ngIf="sortedPhotos[0]">
            <img src="assets/images/photos/photo1.jpeg" [alt]="sortedPhotos[0].altText">
        </div>

        <div class="photo-column" id="column1">
            <div class="photo photo-2">
                <img src="assets/images/photos/photo2.png" >
            </div>
            <div class="photo photo-4">
                <img src="assets/images/photos/photo4.png" >
            </div>
        </div>

        <div class="photo-column" id="column2">
            <div class="photo photo-3">
                <img src="assets/images/photos/photo3.png" >
            </div>
            <div class="photo photo-5">
                <img src="assets/images/photos/photo5.png" >
            </div>
        </div>
        <!-- 50% width photos *ngFor="let photo of sortedPhotos.slice(1, 5)  [alt]="photo.altText""-->




    </div>
    
  </section>


  <!-- LA A CAPELLA FESTIVAL Section -->
<section class="LA-section">
    <p class="gold body-text">LA A CAPELLA FESTIVAL</p>
    <p class="body-text">2023</p>
    <div class="photos-container">
        <div class="photo-column" id="column1">
            <div class="photo LA">
                <img src="assets/images/photos/LA/1_1.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/1_2.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/1_3.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/1_4.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/1_5.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/1_6.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/1_7.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/1_8.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/1_9.png">
            </div>
        </div>

        <div class="photo-column" id="column2">
            <div class="photo LA">
                <img src="assets/images/photos/LA/2_1.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/2_2.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/2_3.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/2_4.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/2_5.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/2_6.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/2_7.png">
            </div>
            <div class="photo LA">
                <img src="assets/images/photos/LA/2_8.png">
            </div>
        </div>

    





        

    </div>
    
  </section>
  

    <!-- Spring Show Section -->
<section class="Spring-section">
    <p class="gold body-text">SPRING SHOW</p>
    <p class="body-text">2023</p>
    <div class="photos-container">
        <div class="photo sp23">
            <img src="assets/images/photos/Spring 23/1_1.png">
        </div>
    
        <div class="photo sp23">
            <img src="assets/images/photos/Spring 23/1_2.png">
        </div>

        <div class="photo sp23">
            <img src="assets/images/photos/Spring 23/1_3.png">
        </div>
    </div>
    
  </section>


<!-- Winter Show Section -->
<section class="Winter-section">
    <p class="gold body-text">WINTER SHOW</p>
    <p class="body-text">2023</p>
    <div class="photos-container">
        
        <div class="photo wi23">
            <img src="assets/images/photos/Winter 23/1_1.png">
        </div>

        <div class="photo wi23">
            <img src="assets/images/photos/Winter 23/1_2.png">
        </div>

        <div class="photo wi23">
            <img src="assets/images/photos/Winter 23/2_1.png">
        </div>

        <div class="photo wi23">
            <img src="assets/images/photos/Winter 23/2_2.png">
        </div>
    </div>
    
  </section>

  <!-- TEMPLATE-->
<!-- <section class="Winter-section">
    <p class="gold body-text">FALL RETREAT</p>
    <div class="photo FALL-RETREAT">
        <div class="photo-column" id="column1">
            <div class="photo wi23">
                <img src="assets/images/photos/Winter 23/2_1.png">
            </div>
        </div>
        <div class="photo-column" id="column2">
            <div class="photo wi23">
                <img src="assets/images/photos/Winter 23/2_1.png">
            </div>
        </div>
    </div>
    
  </section> -->

    <!-- FALL RETREAT Section -->
<section class="FallRetreat-section">
    <p class="gold body-text">FALL RETREAT</p>
    <div class="photos-container">
        <div class="photo-column" id="column1">
            <div class="photo FR">
                <img src="assets/images/photos/FALL RETREAT/1_1.png">
            </div>
            <div class="photo FR">
                <img src="assets/images/photos/FALL RETREAT/1_2.jpg">
            </div>
            <div class="photo FR">
                <img src="assets/images/photos/FALL RETREAT/1_3.jpg">
            </div>
            <div class="photo FR">
                <img src="assets/images/photos/FALL RETREAT/1_4.jpg">
            </div>
        </div>
        <div class="photo-column" id="column2">
            <div class="photo FR">
                <img src="assets/images/photos/FALL RETREAT/2_1.png">
            </div>
            <div class="photo FR">
                <img src="assets/images/photos/FALL RETREAT/2_2.jpg">
            </div>
            <div class="photo FR">
                <img src="assets/images/photos/FALL RETREAT/2_3.jpg">
            </div>
            <div class="photo FR">
                <img src="assets/images/photos/FALL RETREAT/2_4.jpg">
            </div>
        </div>
    </div>
    
  </section>




<!-- <section class="THE TRITONES-section">
    <p class="gold body-text">THE TRITONES</p>
    <p class="body-text">2021-2022</p>
    <div class="photos-container">

        <div class="photo photo-1" *ngIf="sortedPhotos[0]">
            <img [src]="sortedPhotos[0].imageUrl" [alt]="sortedPhotos[0].altText">
        </div>
        <div class="photo" *ngFor="let photo of sortedPhotos.slice(1, 5)">
            <img [src]="photo.imageUrl" [alt]="photo.altText">
        </div>
    </div>
    
  </section>



<section class="Spring-section">
    <p class="gold body-text">SPRING SHOW</p>
    <p class="body-text">2022</p>
    <div class="photos-container">

        <div class="photo photo-1" *ngIf="sortedPhotos[0]">
            <img [src]="sortedPhotos[0].imageUrl" [alt]="sortedPhotos[0].altText">
        </div>
    

        <div class="photo" *ngFor="let photo of sortedPhotos.slice(1, 5)">
            <img [src]="photo.imageUrl" [alt]="photo.altText">
        </div>
    </div>
    
  </section>

      <section class="MATSURI-section">
        <p class="gold body-text">UCSD’s MATSURI FESTIVAL</p>
        <p class="body-text">2022</p>
        <div class="photos-container">
            <div class="photo photo-1" *ngIf="sortedPhotos[0]">
                <img [src]="sortedPhotos[0].imageUrl" [alt]="sortedPhotos[0].altText">
            </div>
            <div class="photo" *ngFor="let photo of sortedPhotos.slice(1, 5)">
                <img [src]="photo.imageUrl" [alt]="photo.altText">
            </div>
        </div>
        
      </section>



<section class="Winter22-section">
    <p class="gold body-text">WINTER SHOW</p>
    <p class="body-text">2022</p>
    <div class="photos-container">
        <div class="photo photo-1" *ngIf="sortedPhotos[0]">
            <img [src]="sortedPhotos[0].imageUrl" [alt]="sortedPhotos[0].altText">
        </div>
        <div class="photo" *ngFor="let photo of sortedPhotos.slice(1, 5)">
            <img [src]="photo.imageUrl" [alt]="photo.altText">
        </div>
    </div>
    
  </section>


</div> -->