<div class="container">
  <div class="sidebar">
    <div class="sidebar-option body-text">Overview </div>
    <div class="sidebar-option body-text">Audition Information</div>
    <div class="sidebar-option body-text">FAQ</div>
    <button class="apply-now-button body-text">Apply Now</button>
  </div>

  <div class="main-section">
    <h1 class="headline-1">The Tritones Experience</h1>
    <h2 class="subheadline-1">A Fun, Vibrant Family at UCSD</h2>
    <img src="assets/images/Auditions/1.png" alt="Description of the image" class="main-section-image">
    <p class="body-text">
      Singing with the Tritones is a transformative experience that will create lasting memories and plenty of opportunities for personal growth. As a competitive music group, the Tritones maintain an extensive schedule of concerts, gigs, and media appearances within and beyond UC San Diego. At the same time, we always make sure to set aside time for group bonding, retreats, and inter-a cappella group social events. In essence, the Tritones is a home away from home for our group members.
    </p>
  </div>
</div>
