@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;600&family=Syne:wght@400;600&display=swap');
:root {
  --background-color-dark: #222227;
  --background-color-light: #F2EFE9;
  --background-color-navy: #164561;
  --background-color-gray: #343437;
  --text-color-dark: #F2EFE9; /* Adjust as necessary */
  --text-color-light: #1D1514; /* Adjust as necessary */
  --desktop-min-width: 769px;
  --tablet-min-width: 481px;
  --tablet-max-width: 768px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

img {
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--text-color-dark);
}

footer {
  padding: 31px;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer-column p {
  text-align: left;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.headline-1 {
  font-family: 'Fraunces', serif;
  font-weight: 600; /* SemiBold */
  font-size: 56px;
}

.headline-2 {
  font-family: 'Fraunces', serif;
  font-weight: 400; /* Regular */
  font-size: 40px;
}

.subheadline-1 {
  font-family: 'Syne', sans-serif;
  font-weight: 600; /* SemiBold */
  font-size: 32px;
  text-align: center;
}

.subheadline-2 {
  font-family: 'Fraunces', serif; /* Assuming Franuces was a typo */
  font-weight: 400; /* Regular */
  font-size: 24px;
}

.body-text {
  font-family: 'Syne', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 24px;
}

.caption-text {
  font-family: 'Syne', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 16px;
}

.btn {
  display: inline-flex;
  /* padding: 24px 61px; */
  font-family: 'Syne', sans-serif;
  justify-content: center;
  align-items: center;
}

.btn-primary {

  /* style */
  border-radius: 20px;
  background: #40667D;
  color: var(--text-color-dark);
  text-align: center;
  line-height: normal;
  font-style: normal;
  border: none;
  font-size: 18px;
}

.btn-transparent {
  /* layout */
  display: inline-flex;
  /* padding: 24px 61px; */
  justify-content: center;
  align-items: center;

  /* style */
  border-radius: 15px;
  border: 1px solid var(--text-color-dark);
  background: rgba(0, 0, 0, 0);
  color: var(--text-color-dark);
  text-align: center;
  font-family: Syne;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

