@import url("../../styles.css");

.intro {
  padding-bottom: 32px ;
}

.background-img {
  width: 100%;
  min-height: 259px;
}

#intro-image {
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(22,22,27, 1)), linear-gradient(to bottom, rgba(0,0,0,0), rgba(22, 22, 27, 1)), url("../../assets/images/home-page/home-Intro.png");
  background-size: cover;
}

.text-content {
  align-items: center;
  gap: 13px;
}

.home-shadow {
  box-shadow: 0px 0px 5px 15px var(--background-color-dark);
}

#premier {
  text-align: left;
  align-self: left;
  width: 358px;
  font-size: 32px;
}

  @media (max-width: 480px) {
  
    .transition-image {
      width: 394px;
      height: 295px;
    }
  
    .transition h1 {
      font-size: 22px;
    }
  
    .transition .body-text {
      font-size: 18px;
    }
  
    .transition-button {
      width: 141px;
      height: 44px;
    }
  }
  
  
  .transition {
    display: flex;
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust as necessary to create reasonable space between elements */
    max-width: 600px; /* Adjust as necessary to create reasonable space beside the image */
  }
  
  .transition-image {
    margin-left: auto;
    margin-right: 10%;
    width: 596px;
    height: 446px;
    border-radius: 10px; /* Optional: to add rounded corners to the image */
  }
  
  .transition-button {
    width: 261px;
    height: 86px;
    padding: 24px 61px;
    border-radius: 20px;
    background-color: #40667D;
    color: var(--text-color-dark);
    border: none;
    margin-bottom: 20px;
    transition: transform 0.3s;
    font-size: 24px; /* Set the font size to match the body text size */
  }
  
  .transition-button:active {
    transform: scale(0.95);
  }
  
@media (max-width: 768px) {}
#diverse {
  text-align: left;
  align-self: left;
  width: 344px;
  font-size: 20px;
  font-weight: 400;
}

#join {
  width: 113px;
  height: 44px;
  border-radius: 15px;
  padding: 0 0;
  font-size: 16px;
}

.our-music {
  background: var(--background-color-gray);
  border-radius: 10px;
}

.content-block {
  align-items: center;
}

.content-block h2 {
  line-height: 22px;
  padding-top: 21px;
  padding-bottom: 13px;
}

.album-grid {
  display: flex;
  width: 100%;
  height: 252px;
  gap: 23px;
  align-content: space-between;
  overflow-x: auto;
  padding: 21px 26px;
}

.album-grid::-webkit-scrollbar {
  display: none;
}

.album-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
}

.album-cover {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid var(--background-color-dark);
  background: lightgray 50% / cover no-repeat;
}

.album-title {
  align-self: stretch;
  font-family: Syne;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.album-year {
  font-family: Syne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#discover {
  margin: 30px 108px;
  width: 176px;
  height: 44px;
  font-size: 18px;
}

.transition {
  display: flex;
  flex-direction: column;
  padding-bottom: 34px;
}

#transition-image {
  background: linear-gradient(to top, rgba(22,22,27 , 1), transparent, rgba(22,22,27, 1)), url("../../assets/images/home-page/transition.png");
  background-size: cover;
}

#transition-flex {
  gap: 20px;
}

#perform {
  text-align: center;
  font-size: 22px;
  line-height: 100%;
}

.body-text {
  text-align: center;
}

#book {
  width: 141px;
  height: 44px;
}

.end {
  background: var(--background-color-navy);
  padding: 50px 20px;
}

.end-content {
  text-align: center;
  gap: 43px;
}

#recruit-heading {
  margin: 0 auto;
  font-weight: 600;
  line-height: normal;
}

#btn-end {
  display: block;
  margin: 0 auto;
  padding: 24px 61px;
  font-size: 18px;
  border-radius: 20px;
}

