<div class="main-content flex-column">
  <section class="intro flex-column no-flex">
    <div class="background-img" id="intro-image">
    </div>
    <div class="text-content home-shadow flex-column no-shadow" id="premier-container">
      <h1 class="headline-1" id="premier">UCSD's premiere vocal<br>ensemble</h1>
      <h3 class="subheadline-1" id="diverse">Diverse people, majors, & interests-united by a common passion for music.</h3>
      <button pButton type="button" class="subheadline-1 btn btn-primary" id="join" routerLink="/auditions">
        <p>Join us</p>
      </button>
    </div>
  </section>
  <section class="our-music">
    <div class="flex-column content-block" id="music-content">
      <h2 class="subheadline-2" id="music-heading">Our music</h2>
        <div class="album-grid">
          <div *ngFor="let track of tracks" class="album-card">
            <a [href]="track.spotify_url" target="_blank">
              <img [src]="track.image_url" alt="{{ track.name }} album cover" class="album-cover">
            </a>
            <p class="album-title">{{ track.name }}</p>
            <p class="album-year">{{ track.release_year }}</p>
          </div>
      </div>
      <button pButton type="button" class="btn-transparent" id="discover">
        <a href="https://open.spotify.com/artist/1eohVzWa5vbk54pmWcFQar" target="_blank">Discover more</a>
      </button>
    </div>
  </section>
  <section class="transition flex-column" id="transition-row">
    <div class="background-img no-shadow" id="transition-image">
    </div>
    <div class="text-content flex-column home-shadow" id="transition-flex">
      <h1 class="headline-1" id="perform">We love to perform- <br> no matter the occasion</h1>
      <p class="caption-text body-text">Whether it’s performing on TV, entertaining for community events, or getting dressed up for your formal occasion, we bring award-winning performances wherever we go.</p>
      <button pButton type="button" class="btn btn-primary" id="book" routerLink="/bookings" ><p>Book now</p></button>
    </div>
  </section>
  <section class="end">
    <div class="end-content flex-column" id="end-flex">
      <h1 class="subheadline-2" id="recruit-heading">We’re always on the lookout for talented,<br> fun-loving voices and personalities!</h1>
      <p class="body-text">Our members come from all walks of campus life and represent a diverse community of UC San Diego. We encourage everyone with a passion for singing to audition— regardless of your formal vocal background.</p>
      <button pButton type="button" class="btn btn-transparent" id="btn-end" routerLink="/auditions"><p>Become a Tritone!</p></button>
    </div>
  </section>
</div>
