@import url("../../styles.css");


/* START of INTRO */
.intro {
  padding-bottom: 32px ;
  width: 100%;
}

.background-img {
  width: 100%;
  min-height: 259px;
}

#intro-image {
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(22,22,27, 1)), linear-gradient(to bottom, rgba(0,0,0,0), rgba(22, 22, 27, 1)), url("../../assets/images/home-page/home-Intro.png");
  background-size: cover;
}

.text-content {
  align-items: center;
  gap: 13px;
}

.home-shadow {
  box-shadow: 0px 0px 5px 15px var(--background-color-dark);
}

#premier {
  text-align: left;
  align-self: left;
  width: 358px;
  font-size: 32px;
}

#diverse {
  text-align: left;
  align-self: left;
  width: 344px;
  font-size: 20px;
  font-weight: 400;
}

#join {
  width: 113px;
  height: 44px;
  border-radius: 15px;
  padding: 0 0;
  font-size: 16px;
}

@media screen and (min-width: 769px) {
  .intro {
    position: relative;
    height: 721px;
    padding-bottom: 0;
  }

  #intro-image {
    height: 100%;
    background-size: cover;
  }

  .no-shadow {
    box-shadow: 0 0 0 0;
  }

  #premier-container {
    position: absolute;
    top: 103px;
    right: 0;
    transform: translate();
    width: 397px;
    align-items: flex-start;
    gap: 30px;
  }

  #premier {
    font-size: 45px;
    font-style: normal;
    text-align: left;
  }

  #diverse {
    font-size: 32px;
  }

  #join {
    align-self: center;
    border-radius: 20px;
    width: 202px;
    height: auto;
    padding: 24px 61px;
  }

  #join p {
    font-size: 22px;
  }
}
/* END of INTRO */


/* START of OUR MUSIC */
.our-music {
  background: var(--background-color-gray);
  border-radius: 10px;
}

.content-block {
  align-items: center;
}

.content-block h2 {
  line-height: 22px;
  padding-top: 21px;
  padding-bottom: 13px;
}

.album-grid {
  display: flex;
  width: 100%;
  height: 252px;
  gap: 23px;
  align-content: space-between;
  overflow-x: auto;
  padding: 21px 26px;
}

.album-grid::-webkit-scrollbar {
  display: none;
}

.album-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
}

.album-cover {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid var(--background-color-dark);
  background: lightgray 50% / cover no-repeat;
}

.album-title {
  align-self: stretch;
  font-family: Syne;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.album-year {
  font-family: Syne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#discover {
  margin: 25px 108px;
  width: 176px;
  height: 44px;
  font-size: 18px;
}

@media screen and (min-width: 769px) {
  .our-music {
    height: 512px;
  }

  #music-heading {
    font-size: 40px;
  }

  .album-grid {
    height: 337px;
  }

  .album-card {
    height: 295px;
    width: 200px;
  }

  .album-cover {
    width: 200px;
    height: 200px;
  }

  .album-title {
    font-size: 24px;
  }

  .album-year {
    font-size: 24px;
  }

  #discover {
    width: 255px;
    height: 69px;
    font-size: 24px;
  }
}
/* END of OUR MUSIC */


/* START of TRANSITION */
.transition {
  display: flex;
  flex-direction: column;
  padding-bottom: 34px;
}

#transition-image {
  background: linear-gradient(to top, rgba(22,22,27 , 1), transparent, rgba(22,22,27, 1)), url("../../assets/images/home-page/transition.png");
  background-size: cover;
}

#transition-flex {
  gap: 20px;
}

#perform {
  text-align: center;
  font-size: 22px;
  line-height: 100%;
}

.body-text {
  text-align: center;
}

#book {
  width: 141px;
  height: 44px;
}

@media screen and (min-width: 769px) {
  .transition {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 63px;
    padding-right: 35px;
  }

  #transition-image {
    max-width: 543px;
  }
  #transition-row {
    flex-direction: row-reverse;
    gap: 26px;
  }

  #transition-flex {
    align-items: start;
  }

  #perform {
    text-align: left;
    font-size: 35px;
  }

  #transition-flex p {
    text-align: left;
    font-size: 20px;
  }

  #book {
    align-self: center;
    padding: 24px 61px;
    width: 261px;
    height: 86px;
  }

  #book p {
    font-size: 32px;
  }
}
/* END of Transition */


/* START of END */
.end {
  background: var(--background-color-navy);
  padding: 50px 20px;
}

.end-content {
  text-align: center;
  gap: 43px;
}

#recruit-heading {
  margin: 0 auto;
  font-weight: 600;
  line-height: normal;
}

#btn-end {
  /* display: block; */
  margin: 0 auto;
  padding: 24px 61px;
  font-size: 18px;
  border-radius: 20px;
}

@media screen and (min-width: 769px) {
  .end {
    height: 586px;
    padding: 100px 0;
  }

  #end-flex {
    gap: 43px;
  }

  #recruit-heading {
    font-size: 40px;
    /* font-weight: 600; */
  }

  #recruit-heading + p {
    width: 622px;
    align-self: center;
  }

  #btn-end {
    width: 376px;
    height: 86px;
    border-radius: 20px;
    padding: 24px 61px;
  }

  #btn-end p {
    font-size: 30px;
  }
}
/* END of END */
